/*modal start*/

.modal-header{
    background-color: orange;
    color: white;
    font-weight: bold;
}
.red::after{
    content: "*";
    color: red;
}
/*modal end-----------*/
/*Button color start*/
.coustomized-color{
    background-color:#289BDE;
}
.coustomized-color:hover{
    background-color:lightgray;
    color: #000000 !important;
    transition: 0.9s;
}
.bg-coustomized{
    background-color:#289BDE;
}
/*Button color end------------------*/
/*feedback start*/
.pre-color{
    background-color: #289BDE;
    border-radius: 50%;
}
.next-color{
    background-color: #00a2ff;
    border-radius: 50%;
}
/*feedback end */

/*Media Query mobile device-------*/
@media only screen and (max-width:767px){
    .responsive-images img{
      width: 100%;
      height: 100%;
    }
}
/*medium device==============*/
@media only screen and (min-width:766px) and (max-width:992px){
    .responsive-images img{
      width: auto;
      height: auto;
    }
}